.main {
    position: relative;
    nav {
        transition: all 0.6s linear; 
        padding-top: 4.8rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateX(-120%);
        background-color: #e1f8fb;
        z-index: 9;
        &.flaot {
            transform: translateX(0%);
        }
        @include media($medium) {
            background-color: transparent;
            transform: translateX(0%);
        }
        .main-navigation {
            display: flex;
            flex-flow: column;
            align-items: center;
            @include media($medium) {
                flex-flow: row;
            }
            .logo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin-bottom: 5rem;
                padding-left: 2rem;
                @include media($medium) {
                    margin-bottom: 0;
                    padding-left: 0;
                    width: auto;
                }
                a.slide-arrow {
                    max-width: 30px;
                    margin-right: 2rem;
                    @include media($medium) {
                        display: none;
                    }
                }
                a.logo-image {
                    max-width: 232px;
                }
            }
            .menu-items {
                width: 100%;
                @include media($medium) {
                    width: calc(100% - 232px);
                    padding-left: 70px;
                }
                @include media($large) {
                    padding-left: 120px;
                }
                
                @include media($xlarge) {
                    padding-left: 260px;
                }
                ul {
                    width: 100%;
                    margin: 0;
                    li {
                        display: inline-block;
                        width: 100%;
                        @include media($medium) {
                            width: auto;
                            margin-right: 20px;
                        }
                        @include media($xlarge) {
                            margin-right: 40px;
                        }
                        @include media($xxlarge) {
                            margin-right: 50px;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            color: #222222;
                            font-size: 1.8rem;
                            margin-bottom: 2rem;
                            padding-bottom: 1.5rem;
                            display: block;
                            border-bottom: 1px solid rgba(0,0,0,0.1);
                            padding-left: 1.5rem;

                            @include media($medium) {
                                font-size: 1.6rem;
                                border: none;
                                margin-bottom: 0;
                                padding-bottom: 0;
                            }
                            @include media($xlarge) {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }

        }
    }
    .mob {
        padding: 4.8rem 1.5rem 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media($medium) {
            display: none;
        }
        .logo {
            max-width: 232px;
            img {
                width: 100%;
            }
        }
        .trigger {
            width: 20px;
            display: flex;
            flex-flow: column;
            align-items: center;
            cursor: pointer;
            span {
                width: 100%;
                height: 2px;
                margin-bottom: 5px;
                background-color: #000;
                display: inline-block;
            }
        }
    }
    .banner {
        padding: 19rem 18.5rem 0;
        width: 100%;
        position: relative;
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        @include media($medium) {
            background-image: url(../img/banner.svg);
        }
        .banner-slider {
            position: relative;
            margin-bottom: 17.8rem;
            z-index: 8;
            @include media($xxlarge) {
                margin-bottom: 28rem;
            }
            .slick-dots {
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: -14rem;
                width: 100%;
                li {
                    button {
                        cursor: pointer;
                        border-radius: 100%;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin: 0 4px;
                        color: transparent;
                        font-size: 0;
                        border: 1px solid #8EB3B9;
                        background-color: transparent;
                    }
                    &.slick-active {
                        button {
                            background-color: #8EB3B9;
                        }
                    }
                }
            }
            .inner-slides {
                h1 {
                    font-family: $regular;
                    font-weight: 100;
                    color: #444444;
                    text-transform: uppercase;
                    padding-bottom: 1.6rem;
                }
                p {
                    color: #222222;
                }
            }
            .btn-row {
                padding-top: 5rem;
            }
            .slick-arrow {
                position: absolute;
                left: -11.8rem;
                color: transparent;
                border: 0;
                background-color: transparent;
                top: calc(50% - 6.5rem);
                transform: translateY(-50%);
                padding: 0;
                width: 3.2rem;
                cursor: pointer;
                &:after {
                    content: "";
                    width: 3.2rem;
                    height: 6.5rem;
                    background: url(../img/slider-arrow.png);
                    display: block;
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
                &.slick-next {
                    right: -11.8rem;
                    left: auto;
                    transform-origin: center;
                    transform: rotate(180deg) translateY(50%);
                }
            }
        }
        .floating-element {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            ul {
                width: 100%;
                float: left;
                height: 100%;
                position: relative;
                li {            
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    &.turtle {
                        img {
                            bottom: -11rem;
                            right: 6%;
                            position: absolute;
                            width: 46.50%;

                            @include media($xxlarge) {
                                width: 42%;
                                right: 10%;
                            }
                        }
                    }
                    &.bubble {
                        position: absolute;
                        img {
                            position: absolute;
                            width: 3rem;
                            height: 3rem;
                        }
                        &.bubble-1 {
                            img {
                                top: 5px;
                                right: 17rem;
                            }
                        }
                        &.bubble-2 {
                            img {
                                top: 10rem;
                                right: 1rem;
                            }
                        }
                        &.bubble-3 {
                            img {
                                width: 6.3rem;
                                height: 10.8rem;
                                top: 16rem;
                                right: 16.7rem;
                            }
                        }
                        &.bubble-4 {
                            img {
                                bottom: 15rem;
                                right: 7.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ===============================================shop mega menu ======================================================= 

